{% extends 'SanoStaticBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

<div class="vsebina">
    <h1>Objave v letu {{ year }} mesec {{ month }}</h1>
    
    {% for item in post %}
        <div id="news">
            <p><span>Naslov:</span>{{ item.getTitle }}</p>
            <p><span>Text:</span><br />{{ item.getText }}</p>
            <p><span>Datum ustvarjanja:</span>{{ item.getCreationDate|date('d.m.Y H:i:s') }}</p>
            <a href="{{ path('_singlePost', ({'id': item.getId})) }}" >Podrobno &raquo;</a>
            <a href="{{ path('_editPost', ({'id': item.getId})) }}" >Uredi</a>
            <a href="{{ path('_deletePost', ({'id': item.getId})) }}" >Izbriši</a>
        </div>
    {% endfor %}    

</div>
  
{% endblock %}
