{% extends 'SanoStaticBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

<div class="vsebina">
    <h1>Blog:</h1>
    {% render 'SanoBlogBundle:Default:box' with { 'limit': 10 } %}
    {% for item in post %}
    <div id="news">
        <p><span>Post Title:</span>{{ item.getTitle }}</p>
        <p><span>Text:</span><br />{{ item.getText }}</p>
        <p><span>Creation Date:</span>{{ item.getCreationDate|date('d.m.Y H:i:s') }}</p>
        <p>
            <a href="{{ path('_editPost', ({'id': item.getId})) }}" ><strong>Uredi</strong></a>
            <a href="{{ path('_deletePost', ({'id': item.getId})) }}" ><strong>Izbriši</strong></a>
            <a href="{{ path('_singlePost', ({'id': item.getId})) }}" >Podrobno &raquo;</a>
            <p>
                <a href="{{ path('_addComment', ({'post': item.getId})) }}" ><strong>Komentiraj</strong></a>
            </p>
        </p>
    </div>
{% endfor %}
</div>
  
{% endblock %}
