{% extends 'SanoStaticBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

<div class="vsebina">
    <div id="news">
        <h3><strong>{{ post.getTitle }}</strong></h3>
        <p>{{ post.getText }}</p>
        <p><span>Datum ustvarjanja:</span>{{ post.getCreationDate|date('d.m.Y H:i:s') }}</p>
        <p><strong>Komentarji:</strong></p>
        <hr />
    </div>
    {% for item in comment %}
    <div id="comment">
        <p><strong>{{ item.getName }}</strong></p>
        <p>{{ item.getComment }}</p>
        <p>{{ item.getCreationDate|date('d.m.Y H:i:s') }}</p>
    </div>
    {% endfor %}
    <a href="{{ path('_addComment', ({'id': post.getId})) }}" ><strong>Komentiraj</strong></a>
</div>

{% endblock %}
