{% extends 'SanoStaticBundle::layout.html.twig' %}

{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

      <div class="vsebina">
          <div style="margin-top: 30px;">
              <div class="index_ena">
                  <p>
                <b>Zdravo!</b><br /><br />
                Moje ime je Sano Fužir. Sem spletni programer. Aplikacije razvijam z znanjem programskih jezikov
                in z uporabo najnoveših ogrodij.
                Uživam v razvijanju novih aplikacij, spoznavanju novih orodij in tehnologij. <br /><br />
                <!--
                "Pri aplikacijah dam prednost preprostostosti, učinkovitosti in zanesljivosti, 
                saj le tako dosežemo najboljše rezultate."
                -->
              </p>
              </div>
              <div class="index_dva">
                  <p>
                      IŠČETE SPLETNEGA PROGRAMERJA?<br />
                      Vedno sprejmem nove in zanimive spletne projekte.<br />
                      Če želite sodelovati z mano me kontaktirajte
                    <br />
                    <a href="{{ path('_kontakt') }}">Kontakt →</a>
                  </p>
              </div>
              <hr />
          </div>
          
      <div>
          <div class="index_ena">
              <p>
                <b>O MOJEM DELU</b><br />
                text<br />
                text<br />
                text<br />
                text<br />
                text<br />
                text<br />
                text<br />
              </p>
          </div>
              <div class="index_dva" style="padding: 20px 0px;">
                  <p>
                      "Nikoli ti niso dane sanje, <br />ne da bi ti bila dana tudi moč, <br />da jih uresničiš"
                  </p>
              </div>
        </div>
     
         <div id="news_index">
             {% for item in news %}
                <div class="index">
                    <h3 class="h3news">{{ item.getTitle }}</h3>
                    <p>{{ item.getSummary }}</p>
                    <p>
                        <strong>Datum objave: </strong>{{ item.getPublicationDate|date('d.M.Y') }}
                    </p>
                    <a class="btn"  href="{{ path('_singleNews', ({'id': item.getId})) }}" >Več &raquo;</a>
                </div>
            {% endfor %}
         </div>
    </div>
      
{% endblock %}
