{% extends 'SanoStaticBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

<div class="vsebina">
    <h1>Novice v letu {{ year }} mesec {{ month }}</h1>
    
    {% for item in news %}
        <div id="news">
            <p><span>Naslov:</span>{{ item.getTitle }}</p>
            <p><span>Povzetek:</span><br />{{ item.getSummary }}</p>
            <p><span>Datum ustvarjanja:</span>{{ item.getCreationDate|date('d.m.Y H:i:s') }}</p>
            <a href="{{ path('_singleNews', ({'id': item.getId})) }}" >Podrobno &raquo;</a>
            <a href="{{ path('_editNews', ({'id': item.getId})) }}" >Uredi</a>
            <a href="{{ path('_deleteNews', ({'id': item.getId})) }}" >Izbriši</a>
        </div>
    {% endfor %}    

</div>
  
{% endblock %}
