{% extends 'SanoStaticBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

<div class="vsebina">
    <div id="news">
        <p><span>Naslov:</span>{{ news.getTitle }}</p>
        <p><span>Povzetek:</span><br />{{ news.getSummary }}</p>
        <p><span>Text:</span><br />{{ news.getText }}</p>
        <p><span>Status:</span>{{ news.getStatus }}</p>
        <p><span>Datum ustvarjanja:</span>{{ news.getCreationDate|date('d.m.Y H:i:s') }}</p>
        <p><span>Datum urejanja:</span>{{ news.getEditingDate|date('d.m.Y H:i:s') }}</p>
        <p><span>Datum objave:</span>{{ news.getPublicationDate|date('d.m.Y H:i:s') }}</p>
    </div>
</div>


      
{% endblock %}
