{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

    <div id="news">
        <h2>Naslov:</h2>{{ news.getTitle }}
        <p><h2>Povzetek:</h2><br />{{ news.getSummary }}</p>
        <p><h2>Novica:</h2><br />{{ news.getText }}</p>
        <h2>Status:</h2>{{ news.getStatus }}<br />
        <h2>Datum objave:</h2>{{ news.getPublicationDate|date('d.m.Y H:i:s') }}<br />
        <h2>Datum urejanja:</h2>{{ news.getEditingDate|date('d.m.Y H:i:s') }}<br />  
        <h2>Datum ustvarjenja:</h2>{{ news.getCreationDate|date('d.m.Y H:i:s') }}<br />  
    </div>
    
{% endblock %}
